*{
	box-sizing: border-box;
}
body{
	margin: 0px;
	padding: 0px;
}

#wrapper{
	border: black solid 5px;
	width: 1024px;
	height: auto;
	margin: auto;
}
header{
	border: red solid 3px;
	width: 100%;
	height: auto;
	display: table;
}
.header1{
	border: black solid 2px;
	width: 65%;
	height: 100px;
	float: left;
}
.header2{
	border: black solid 2px;
	width: 35%;
	height: 100px;
	float: left;
	text-align: right;
}
a{
	text-decoration: none;
	text-align: center;
	color: black;
	margin: 0px 2%;
	word-wrap: break-word;
}
a:hover{
	text-decoration: underline;
	color: blue;
}
#banner{
	border: orange solid 3px;
	background-color: #DDDDDD;
	height: 100px;
	width: 100%;
}
.logo{
	background-image: url("images/logo.jpg");
	background-size: auto 100%;
	background-repeat: no-repeat;
	width: 200px;
	height: 100%;
	float: left;
}
.title{
	margin: 0px;
	padding: 0px;
	float: left;
	line-height: 100px;
}
#menu{
	border: green solid 3px;
	width: 100%;
	height: auto;

}
#content{
	height: 300px;
	width: 100%;
	border: yellow solid 3px;
}
#footer{
	height: 50px;
	width: 100%;
	border: purple solid 3px;
}
@media only screen and (min-width: 721px)  and (max-width: 1023px) {
	#wrapper{
		width: 80%;
	}
}
/*css cho phone*/
@media only screen and (max-width: 720px) {
	#wrapper{
		width: 100%;
	}
	#banner{

	}
	.logo{
		margin-top: 20px;
		width: 130px;
		height: 60px;
	}
	.title{
		margin-top: 20px;
		font-size: 22px;
		line-height: 60px;
	}
	.header2{
		text-align: left;
	}
	.header2 a{
		margin: 5%;
		padding-left: 20%;
	}
	#menu a{
		text-align: center;

	}
}